src/main/mule/testgit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2c426a0a-4994-4f9d-8c09-014bc3bacd60" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testgitFlow" doc:id="fe02aea4-4f0e-4f48-92e9-758937756213" >
		<http:listener doc:name="Listener" doc:id="ffd57fca-b8d5-4823-9ba9-bcb614ce2291" config-ref="HTTP_Listener_config" path="/Hellogit"/>
		<set-payload value='#["This is a test project for GIT"]' doc:name="Set Payload" doc:id="fb5cb502-eeb2-4c00-8243-487a2981480f" />
	</flow>
</mule>
